# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빌드 아웃풋
dist/
build/

# 환경 설정
.env
.env.local
.env.*.local

# Webpack 관련 임시 파일
*.cache/
.cache-loader/

# IDE 및 에디터 관련
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# 로그 파일
logs
*.log
logs/*

# 캐시 파일
.cache/
*.cache-loader/